<div class="menu">
  <h2>- 商品登録情報編集 -</h2>
</div>
<%= form_tag("/product/#{@product.id}/update") do %>
<div class="input-product">
  <div class="form-body">
    <div class="form-name">
      商品名
    </div>
    <input type="text" name="name" value="<%= @product.name %>">
    <div class="form-name">
      数量
    </div>
    <input type="text" name="amount" value="<%= @product.amount %>">
    <div class="form-name">
      単位
    </div>
    <input type="text" name="unit" value="<%= @product.unit %>">
    <div class="form-name">
      金額
    </div>
    <input type="text" name="money" value="<%= @product.money %>">
  </div>
  <input type="submit" name="" value="登録" class="resistration">
  <div class="destroy">
    <%= link_to("削除", "/product/#{@product.id}/destroy", {method: "post"}) %>
  </div>
</div>
<% end %>
