<!DOCTYPE html>
<html>
  <head>
    <title>ZaikoKannri9</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <div class="title">
      <div class="header-left">
        <%= link_to("- 在庫管理システム -", "/home/top") %>
      </div>
      <div class="header-right">
        <ul>
          <% if @current_user %>
            <li><%= @current_user.name %></li>
            <li><%= link_to("在庫一覧", "/stock/index") %></li>
            <li><%= link_to("商品登録", "/product/resistration") %></li>
            <li><%= link_to("ログアウト", "/logout", {method: 'POST'}) %></li>
          <% else %>
            <li><%= link_to("新規登録", "/signup") %></li>
            <li><%= link_to("ログイン", "/login") %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
